@tailwind base;
@tailwind components;
@tailwind utilities;

body , html{
  background: #020617;
  scroll-behavior: smooth;
}

.menu{
  position: absolute;
}

.nav__toggle{
  display: none;
}

.nav__close{
  display: none;
}


.about-container{
  box-shadow: 5px 10px 30px  #16c2e0;
}

.nav-links li:hover{
  cursor: pointer;
  color: #1ed65e;
  font-weight: bold;
  transform: translateY(-20%);
  transition: transform .8s ease;
}

.socials li:hover{
  transform: translateY(-20%);
  transition: transform .5s ease-in-out;
}

@media(max-width : 850px){

  .nav-links{
    position: fixed;
    backdrop-filter: blur(20px);
    inset: 0 0 0 40%;
    text-align: center;
    padding-top: 3rem;
    transform: translateX(100%);
    transition: transform 1s ease;
    z-index: 9999;

  }

  .nav-links ul{
    flex-direction: column;
    gap: 0;
  }

  .show-menu{
    transform: translateX(0%);
  }

  .nav-links li {
    border: none;
    font-size: 1rem;
  }

  .nav__toggle{
    display: block;
    color: aliceblue;
    font-size: 2rem;
    padding-right: 1rem;
  }

  .nav__close{
    display: block;
    font-size: 2rem;
    color: aliceblue;
    padding-left: 1rem;
  }

}
